{% extends 'cw/base.html' %}
{% comment %} Біс його знає, нашо ця сторінка сайту, але хай буде {% endcomment %}

{% block title %}Про проект{% endblock %}

{% block content %}
<div id="about">
    <p>Курсова робота із дисципліни "Компоненти Програмної Інженерії"</p>
    <p>Зроблена студентом групи ІТ-03 Федяєм Бориславом</p>
    <br>
    <img src="https://cdn.discordapp.com/attachments/754300279083761714/1043571596113227847/photo_2021-02-26_11-44-31.jpg" alt="Hello welcome to my web sight">
</div>
{% endblock %}