{% extends 'cw/base.html' %}
{% load static %}

{% block title %}GitGud{% endblock %}

{% block search %}
<input type="text" id="search" name="search" placeholder="Пошук"></input>
{% endblock  %}

{% block content %}
<content class="card-list">
    {% for page, status_id, status in ctx %}

    <div class="card card-status-{{ status_id }}" id="{{ page.id }}">
        <img src="{{ page.img }}" class="card-img-top" alt="{{ page.id }}">
        <div class="card-body">
            <h5 class="card-title"><b>{{ page.head }}</b></h5>
            {% if user.is_authenticated and status_id != None %}
                {% csrf_token %}
                <h6 class="card-subtitle sub-status-{{ status_id }}">
                    <b>{{ status }}</b>
                </h6>
            {% endif %}
            <p class="card-text">{{ page.desc }}</p>
        </div>
    </div>

    {% endfor %}
</content>
{% endblock %}

{% block custom_static %}
<script type="text/javascript" src='{% static "cw/home.js" %}'></script>
{% endblock %}