{% extends 'cw/base.html' %}
{% load static %}

{% block title %}{{ page.head }}{% endblock %}

{% block content %}
<content id="page">
    <h1 class="item-name">{{ page.head }}</h1>
    {% if user.is_authenticated %}

    {% csrf_token %}
    <a>Статус цієї теми</a>
    <select id="pick-folder">
        <option value="none">Ніяка</option>
        <option value="0">Активна</option>
        <option value="1">Запланована</option>
        <option value="2">Пройдена</option>
    </select>

    {% endif %}
    <h3 class="item-desc">{{ page.desc }}</h3>
    <p class="item-data">{{ page.data }}</p>
    <p class="item-author"><i>Author: {{ page.author }}</i></p>
</content>
{% endblock %}

{% block custom_static %}
{% comment %} Передання даних з контексту джанго до джаваскрипту {% endcomment %}
<script>
    var s = "{{ status|escapejs }}"
</script>
<script type="text/javascript" src='{% static "cw/page.js" %}'></script>
{% endblock custom_static %}