{% extends 'cw/base.html' %}
{% load static %}

{% block title %}{{ page.head }}{% endblock %}

{% block content %}
<content id="page">
    <h1 class="centered">{{ page.head }}</h1>
    {% if user.is_authenticated %}

    {% comment %} Кнопки для зміни папки, в якій ця тема буде знаходитись {% endcomment %}
    {% comment %} Звісно, це видно лише залогіненим користувачам {% endcomment %}
    {% csrf_token %}
    <div class="list-group list-group-horizontal" id="list-group-page"
        data-active="{{ status }}">
        <button type="button" class="list-group-item list-group-item-action flex-fill"
        id="none" aria-current="true" onclick="pick(this)">
            Ніяка
        </button>
        <button type="button" class="list-group-item list-group-item-action flex-fill"
        id="active" aria-current="true" onclick="pick(this)">
            Активна
        </button>
        <button type="button" class="list-group-item list-group-item-action flex-fill"
        id="planned" aria-current="true" onclick="pick(this)">
            Запланована
        </button>
        <button type="button" class="list-group-item list-group-item-action flex-fill"
        id="done" aria-current="true" onclick="pick(this)">
            Пройдена
        </button>
    </div>

    {% endif %}
    <br>
    <p class="item-desc">{{ page.desc }}</p>
    <hr class="mt-0 mr-4"></ht>
    <p class="item-data">{{ page.data|linebreaks }}</p>
    <hr class="mt-0 mr-4"></ht>
    <p class="item-author"><i>Author: {{ page.author }}</i></p>
    <p class="item-date-created"><i>{{ page.date_created }}</i></p>
</content>
{% endblock %}

{% block custom_static %}
{% comment %} Передання даних з контексту джанго до джаваскрипту {% endcomment %}
<script>
    var s = "{{ status|escapejs }}"
</script>
<script type="text/javascript" src='{% static "cw/page.js" %}'></script>
{% endblock custom_static %}