{% extends 'cw/base.html' %}
{% load static %}


{% block title %}
{% if user.is_authenticated %} Профіль {{user.username}}
{% else %} Недоступна сторінка
{% endif %}
{% endblock %}


{% block content %}
{% if user.is_authenticated %}

{% comment %} Варіант сторінки для залогінених користувачів {% endcomment %}
<h1 class="centered">{{user.username}}</h2>
{% comment %} Кнопки для перегляду різних папок {% endcomment %}
<div class="list-group list-group-horizontal" id="list-group-profile">
    <button type="button" class="list-group-item list-group-item-action flex-fill active"
    id="active" aria-current="true" onclick="pick(this)">
        Активні теми
        <span class="badge badge-light rounded-pill"></span>
    </button>
    <button type="button" class="list-group-item list-group-item-action flex-fill"
    id="planned" aria-current="true" onclick="pick(this)">
        Заплановані теми
        <span class="badge badge-primary rounded-pill"></span>
    </button>
    <button type="button" class="list-group-item list-group-item-action flex-fill"
    id="done" aria-current="true" onclick="pick(this)">
        Пройдені теми
        <span class="badge badge-primary rounded-pill"></span>
    </button>
</div>

{% comment %} За раз буде відображатися лише 1 div з цих трьох {% endcomment %}
{% comment %} По дефолту початковий стан - це "Активні теми" {% endcomment %}
<div class="card-list" id="active">
    {% for page, status_id, status in cards %}
        {% if status_id == 0 %}

        {% include "cw/card_template.html" %}

        {% endif %}
    {% endfor %}
</div>
<div class="card-list" id="planned">
    {% for page, status_id, status in cards %}
        {% if status_id == 1 %}

        {% include "cw/card_template.html" %}

        {% endif %}
    {% endfor %}
</div>
<div class="card-list" id="done">
    {% for page, status_id, status in cards %}
        {% if status_id == 2 %}

        {% include "cw/card_template.html" %}

        {% endif %}
    {% endfor %}
</div>

{% else %}

{% comment %} Варіант сторінки для незалогінених користувачів {% endcomment %}
<p>Для перегляду цієї сторінки вам спочатку треба
    <a href="/login/">залогінитись</a> або
    <a href="/register/">зареэструватись</a>
</p>

{% endif %}
{% endblock %}


{% block custom_static %}
{% if user.is_authenticated %}

<script type="text/javascript" src='{% static "cw/card.js" %}'></script>
<script type="text/javascript" src='{% static "cw/profile.js" %}'></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>

{% endif %}
{% endblock custom_static %}