#wrapper {
    display: flex;
    flex-direction: column;
}

.item {
    border-width: 2px;
    border-color: #111;
    max-width: 200px;
    margin: 50px;
    margin-top: 10px;
}

#card-list {
    flex: 1;
    align-self: center;
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

div.card {
    width: 18rem;
    position:relative;
    transition: transform .2s;
    border-radius: 7px;
    margin: 10px;
    margin-top: 10%;
    cursor: pointer;
}

div.card:hover{
    z-index: 1;
    transform: scale(1.05);
    outline: none;
}

.card-status-0:hover {
    border-color: goldenrod;
    box-shadow: 0 0 10px goldenrod;
}

.card-status-1:hover {
    border-color: lightblue;
    box-shadow: 0 0 10px lightblue;
}

.card-status-2:hover {
    border-color: green;
    box-shadow: 0 0 10px green;
}

.card-status-None:hover {
    border-color: grey;
    box-shadow: 0 0 5px grey;
}

img.card-img-top {
    max-height: 300px;
    padding: 5%;
}

h5.card-title, h6.card-subtitle, p.card-text {
    user-select: none;
}

.sub-status-0 {
    color: goldenrod;
}

.sub-status-1 {
    color: lightblue;
}

.sub-status-2 {
    color: green;
}

p.card-text {
    display: -webkit-box;
    height: 150px;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    user-select: none;
}