#sidenav {
    height:100%;
    width:160px;
    position: fixed;
    z-index:1;
    top:0;
    left:0;
    background-color:#111;
    overflow-x: hidden;
    padding-top:20px;
}

#sidenav a {
    padding:6px 8px 6px 16px;
    text-decoration: none;
    font-size:25px;
    color: #818181;
    display:block;
}

#sidenav a:hover{
    color:#f1f1f1;
}

#search {
    margin: 6px;
    margin-left: 12px;
    padding: 5px;
    font-size: 20px;
    width: 120px;
}



#wrapper {
    margin-left:160px;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
}

.item {
    max-width: 200px;
    margin: 50px;
}

#item-list {
    flex: 1;
    align-self: center;
    width: 70%;
}

.item-img {
    max-width: 200px;
    max-height: 200px;
}

.item-status-0 {
    color: goldenrod;
}

.item-status-1 {
    color: lightblue;
}

.item-status-2 {
    color: greenyellow;
}